header {
    background-color: maroon;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 85px;
    font-size: 50px;
}
aside {
    float:left;
    display: flex;
    flex-direction: column;
    height: 100%;
}

h2 {
    font-size: 30px;
}

h3 {
    font-size: 25px;
    width: 100%;
    padding: 30px;
}

h4 {
    font-size: 20px;
}

#currentWeather {
    display: flex;
    justify-content: center;
}

#fiveDayForecast {
    display: flex;
    flex-wrap: wrap;
}

#fiveDayForecast div {
    border: 2px solid red;
    width: 10%;
    padding: 15px;
    margin: 10px;
}

#fiveDayForecast div li {
    padding: 10px;
}

#historyList {
    display: flex;
    flex-direction:column-reverse;
}
